main{
    width: calc(100vw - 320px);
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: #1A3041;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
}

.add-recipe{
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-recipe h7{
    margin-right: auto;
    margin-bottom: 0.25em;
}

.add-recipe textarea{
    width: 100%;
    height: 4em;
    margin-bottom: 0.5em;
    resize: none;

    margin-top: 0.2em;
    padding-left: 10px;
    background: #F2F2F0 0 0 no-repeat padding-box;
    box-shadow: inset 0 3px 2px #1B314280;
    border: 1px solid #1B3142;
    border-radius: 13px 0;
    text-align: left;
}

.add-product{
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-product h7{
    margin-right: auto;
    margin-bottom: 0.25em;
}

.add-product textarea{
    width: 100%;
    height: 40%;
    margin-bottom: 0.5em;
    resize: none;
}

.divisor{
    height: 100%;
    width: 4px;
    background-color: #F2B43F;
}

main input{
    width: 100%;
    margin-bottom: 0.5em;
    height: 2em;
    margin-top: 0.2em;
    padding-left: 10px;
    background: #F2F2F0 0 0 no-repeat padding-box;
    box-shadow: inset 0 3px 2px #1B314280;
    border: 1px solid #1B3142;
    border-radius: 13px 0;
    text-align: left;
}

main select {
    margin-right: auto;
    height: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    padding-left: 10px;

    background: #F2F2F0 0 0 no-repeat padding-box;
    box-shadow: inset 0 3px 2px #1B314280;
    border: 1px solid #1B3142;
    border-radius: 13px 0;
}

main button{
    margin-top: 0.5em;
    margin-right: auto;
    background-color: transparent;
    color: #1A3041;
    border: 3px solid #1A3041;
    border-radius: 13px 0;
    width: 10em;
    font-family: 'Gentium Book Basic';
    font-size: 120%;
}

main button:hover{
    background-color: #1A3041;
    color: #F2F2F0;
}

form .error-msg{
    margin-right: auto;
    color: #FC3A43;
    font-size: 14px;
}

.no-valid{
    border: 3px solid #FC3A43;
}

@media only screen and (max-width: 750px) {
    main{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .add-recipe{
        height: 38em;
        width: 100%;
    }
    
    .add-product{
        height: 38em;
        width: 100%;
    }

    .divisor{
        width: 100%;
        height: 4px;
        background-color: #F2B43F;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F29F05;
    border-radius: 10px;
}