body{
    background-color:#F2F2F0;
    margin: 0;
}

.background{
    display: flex;
    flex-direction: row;
}

.bg-image-box{
    width: 60%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
}

.bg-image-box > img{
    width: 100%;
    margin-top: -100%;
    padding-top: 75vh;
    z-index: 1;
}

.bg-overlay-box{
    width: 45%;
    height: 100vh;
}

.bg-overlay-box > img{
    height: 100vh;
    position: fixed;
    left: 45%;
    z-index: 1;
}

.logo{
    width: 20%;
    height: auto;
    position:absolute;
    z-index: 3;
}

#logo-bg{
    position: absolute;
    width: 120%;
    height: auto;
    object-fit: contain;
    margin-top: -1%;
}

#logo-bgm{
    display: none;
}

#logo-fr{
    position: absolute;
    left: 23%;
    width: 75%;
    margin-top: -4%;
    height: auto;
    object-fit: contain;
}

.login{
    position: absolute;
    width: 20%;
    left: 65%;
    top: 30%;
    color: #F29F05;
    font-size: 130%;
    z-index: 2;
}

.login > form {
    display: flex;
    flex-direction: column;
}

.loginMessage{
    font-size: 16px;
}

input{
    height: 2em;
    margin-bottom: 1em;
    margin-top: 0.2em;
    padding-left: 10px;
    background: #F2F2F0 0 0 no-repeat padding-box;
    box-shadow: inset 0 3px 2px #1B314280;
    border: 1px solid #1B3142;
    border-radius: 13px 0;
    text-align: left;
}

.login-buttons{
    display: flex;
    justify-content: space-between;
}

button{
    width: 45%;
    margin-bottom: 1em;
    padding: 2px 0;
    background-color: #F29F05;
    border-radius: 13px 0;
    border: 0;
    color: #f2f2f2;

    font-family: 'Gentium Book Basic';
    font-size: 100%;
}

button:hover{
    background-color: #F2B43F;
}

.login-line{
    height: 0.4vh;
    background-color: #F29F05;
    margin-bottom: 0.5em;
    margin-top: 0.1em;
}

.login-display{
    font-size: 300%;
    color: #F29F05;
}

.login-google-login{
    height: 1.2em;
    color: #F29F05;
    display: flex;
    align-items: center;
}

.login-google-login > img{
    height: 1.2em;
    margin-left: 0.2em;
}

@media only screen and (max-width: 750px) {
    body{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        margin: 0;
        height: 100%;
        overflow: hidden;
    }

    .background{
        display: none;
    }

    #logo-bg{
        display: none;
    }

    #logo-fr{
        position:absolute;
        left: -4vh;
        width: 25vh;
    }

    #logo-bgm{
        width: 55vh;
        position: absolute;
        display:initial;
        left: -18vh;
        top: -1em;
    }

    .login{
        margin-top: 4em;
        width: 50%;
        left: auto;
    }

}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F29F05;
    border-radius: 10px;
}