main {
    width: calc(100vw - 320px);
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-photo{
    margin-top: 2em;
    width: 65%;
    height: 10em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px 0;
    border: solid 1px #1A3041;
}

.recipe-photo img{
    width: 100%;
    height: auto;
}

.separation-line{
    margin-bottom: 1em;
    margin-top: 1em;
    width: 90%;
    height: 1px;
    background-color: #1A3041;
}

.main-recipe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    height: 62%;
}

.recipe-text{
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.recipe-text h5{
    font-size: 120%;
    margin-bottom: 0;
    margin-top: 0;
}

.recipe-text pre{
    font-family: 'Gentium Book Basic';
    margin-top: 0;
    color: #1A3041;
}

.recipe-text text{
    font-family: 'Gentium Book Basic';
    margin-top: 0;
    color: #1A3041;
}

.recipe-actions{
    height: 100%;
    width: 25%;
}

.recipe-actions button{
    margin-left: 1em;
    margin-top: 1em;
    height: 2em;
    background-color: #F29F05;
    border-radius: 10px 0;
    font-family: 'Gentium Book Basic';
    color: #F2F2F0;
    display: flex;
    align-items: center;
    border: 0;
}

.recipe-actions button:hover{
    background-color: #F2B43F;
}
.recipe-actions button i{
    margin-right: 0.5em;
}

@media only screen and (max-width: 750px) {
    main{
        width: 100%;
        height: calc(100vh - 70px);
    }

    .recipe-actions button{
        height: 4em;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F29F05;
    border-radius: 10px;
}