main {
    width: calc(100vw - 320px);
    height: 100vh;
    color: #1A3041;
    overflow-y: scroll;
}

.grocery-container{
    width: 100%;
}

.grocery-list-title{
    color: #1A3041;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-size: 280%;
}

.grocery-list-line{
    background-color: #1A3041;
    height: 2px;
    width: 92%;
}

.grocery-list-main{
    width: 92%;
}

.grocery-list-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingredient-name{
    width: 30%;
}

.ingredient-count{
    width: 20%;
}

.ingredient-operation{
    width: 35%;
}

h2{
    font-size: 130%;
    color: #1A3041;
    font-weight: bold;
}

.grocery-list-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingredient-list{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingredient-list-names{
    width: 65%;
}

.ingredient-list-counts{
    width: 25%;
}

.ingredient-list h6{
    color: #1A3041;
    font-size: 120%;

    margin-top: 0;
    margin-bottom: 0.5em;

    font-weight: normal;
}

.ingredient-operation-body{
    width: 35%;
    display: flex;
}

.erase-ingredient{
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.erase-ingredient i{
    margin-bottom: 1.1em;
}

.ingredient-operation-body button {
    display: flex;
    justify-content: start;
    align-items: center;

    height: 2em;
    width: 40%;
    background: #F29F05 0 0 no-repeat padding-box;
    border-radius: 10px 0;

    color: #F2F2F0;
    font-size: 110%;

    font-family: 'Gentium Book Basic';

    margin-right: 1em;

    border-width: 0;
}

.ingredient-operation-body button:hover{
    background-color: #F2B43F;
}

.ingredient-operation-body button i{
    margin-right: 0.5em;
}

.mobile-operations{
    display: none;
}

@media only screen and (max-width: 750px) {

    main{
        width: 100%;
        height: calc(100vh - 70px);
    }
    .grocery-container{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .grocery-list-line{
        width: 100%;
    }

    .grocery-list-top{
        justify-content: start;
    }

    .ingredient-name{
        width: 75%;
    }

    .ingredient-list{
        width: 100%;
    }

    .ingredient-list-names{
        width: 70%;
    }

    .ingredient-operation{
        display: none;
    }

    .ingredient-operation-body{
        display: none;
    }

    .mobile-operations{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-operations button{
        display: flex;
        justify-content: start;
        align-items: center;

        height: 2em;
        width: 40%;
        background: #F29F05 0 0 no-repeat padding-box;
        border-radius: 10px 0;

        color: #F2F2F0;
        font-size: 110%;

        font-family: 'Gentium Book Basic';
        border-width: 0;

        margin-top: 0.5em;
    }

    .mobile-operations button:hover{
        background-color: #F2B43F;
    }

    .mobile-operations button i{
        margin-right: 0.5em;
    }

}