main {
    width: calc(100vw - 320px);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.recipe-container{
    margin-top: 2em;
    grid-template-areas: 'r1 r2 r3';
    display: grid;
    grid-gap: 15px;
    padding: 10px;
}

#grid-item{
    height: 12em;
    border: 1px solid #1B3142;
    border-radius: 20px 0;

    display: flex;
    justify-content: end;
}

#grid-item:hover{
    border: 1px solid #F29F05;
}

.item1{
    grid-area: r1;
}

.item2 {
    grid-area: r2;
}

.item3{
    grid-area: r3;
}

main a{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: end;

    text-decoration: none;
}

#grid-item i{

    margin-right: 0.2em;
    margin-top: 0.2em;
    font-size: 180%;
    color: #FC3A43;
}

@media only screen and (max-width: 750px) {
    main{
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F29F05;
    border-radius: 10px;
}