body{
    background-color:  #f2f2f2;
    margin: 0;
}

.main-container{
    display: flex;
    flex-direction: row;
}

.menu{
    width: 380px;

    background-image: url("../../images/mainPage/menu-bar.svg");
    background-position-y: -1em;
    background-position-x: -0.5em;
    background-size: 100%;
    background-repeat:repeat-y;

    display: flex;
    flex-direction: column;
}

.user-data{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 1em;
}

.user-data img{
    width: 25%;
    margin-left: 1em;

    border-radius: 100%;
    border: 2px solid #F29F05;
}

.user-data-info{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-top: -0.5em;

    color: #f2f2f2;
}

.user-data-info p{
    margin: 0;
    font-size: 120%;
    width: 8vw;
}

.user-data-info a{
    margin-top: 0.5em;
    font-size: 75%;
}

.tabs{
    margin-top: 1em;
    color: #f2f2f2;
}

.tabs ul{
    list-style-type: none;
    margin-left: -3em;
}

.tabs li{
    width: 12em;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 2em;
    font-size: 140%;
}

.tabs i{
    margin-left: 2em;
    margin-right: 0.5em;
}

.tabs li:hover{
    background-color: #F29F05;
    border-radius: 0 0 10px 0;
}

.logout{
    margin-top: auto;
    height: 10%;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logout button{
    background-color: transparent;
    color: #F2F2F0;
    border: 3px solid #F2F2F0;
    border-radius: 13px 0;
    width: 10em;
    font-family: 'Gentium Book Basic';
    font-size: 120%;
}

.logout button:hover{
    background-color: #F29F05;
    border-color: #F29F05;
}

@media only screen and (max-width: 750px) {
    .main-container{
        flex-direction: column;
    }

    .menu{
        background-color: #1A3041;
        height: 70px;
        width: 100%;
        flex-direction: row;
    }

    .user-data{
        margin-top: 0;
        height: 70px;
        width: 70px;
        order: 7;
    }

    .user-data img{
        margin: auto;
        width: 100%;
        height: auto;
    }

    .user-data-info p{
        display: none;
    }

    .user-data-info a{
        display: none;
    }

    .tabs{
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 0;
        width: calc(100% - 70px);
    }
    
    .tabs ul{
        display: flex;
        flex-direction: row;
        margin-top: -0.5em;
        justify-content: space-between;

    }

    .tabs li{
        width: 2em;
        height: 3em;
    }

    .tabs li i{
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    .tabs i{
        margin-left: 0;
    }

    .tabs a{
        display: none;
    }

    .logout{
        display: none;
    }

    .recipe-mobile{
        height: calc(100vh - 70px);
        width: 60%;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        flex-direction: column;
    }

    .recipe{
        overflow: hidden;
        margin-top: 2em;
        height: 70%;
        background-image: url("../../images/recipes/1.jpg");
        background-position-x: center;
        background-position-y: center;
        background-size:cover;

        box-shadow: 4px 10px 40px #1B3142AB;
        border: 1px solid #1B3142;
        border-radius: 20px 0;
    }

    .recipe img{
        width: 120%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        position: relative;
        left: -20px;
    }

    .recipe-overlay{
        height: 80%;
        width: 100%;
        background: transparent linear-gradient(180deg, #1B314200 0%, #1B3142 100%) 0% 0% no-repeat padding-box;

        position: relative;
        top: 20%;
    }

    .recipe-overlay-text{
        margin-left: 1em;
        margin-bottom: 1em;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .recipe-overlay a1{
        color:#F2F2F0;
        font-size: 200%;
    }

    .recipe-overlay a2{
        color:#F2F2F0;
        font-size: 120%;
        margin-bottom: 1em;
    }

    .recipe-mobile button{
        color: #F2F2F0;
        font-family: 'Gentium Book Basic';
        background: #F29F05 0 0 no-repeat padding-box;
        border-radius: 10px 0;
        border: 0;
        font-size: 110%;
        margin-top: 1em;
        height: 2em;

        text-align: start;
    }

    .recipe-mobile button i{
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F29F05;
    border-radius: 10px;
}