body{
    background-color:#F2F2F0;
    font-family: 'Gentium Book Basic';
    margin: 0;
}

.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
}

.logo{
    background-color: #1B3142;
    margin-top: 3vh;
    width: 40vw;
    height: 20vh;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-text{
    color: #F29F05;
    margin-top: 3%;
    font-size: 350%;
}

#logo-fr{
    width: 22vh;
}

form{
    display: flex;
    flex-direction: column;
}

.right-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 16vw;
    margin-left: 2em;
    color: #F29F05;
}

.right-page p{
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 0.2em;
}

.right-page a{
    font-size: 120%;
}

.right-page button{
    width: 60%;
    height: 1.5em;
    margin-bottom: 0.1em;


    color: #F2F2F0;
    background: #F29F05 0 0 no-repeat padding-box;
    border-radius: 10px 0;
    border: 0;
    
    font-family: 'Gentium Book Basic';
    font-size: 120%;
}

.right-page button:hover{
    background-color: #F2B43F;
}

.form{
    color: #F29F05;
    font-size: 120%;
}

input{
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    height: 2em;
    padding-left: 10px;

    background: #F2F2F0 0 0 no-repeat padding-box;
    box-shadow: inset 0 3px 2px #1B314280;
    border: 1px solid #1B3142;
    border-radius: 13px 0;
}

select{
    height: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    padding-left: 10px;

    background: #F2F2F0 0 0 no-repeat padding-box;
    box-shadow: inset 0 3px 2px #1B314280;
    border: 1px solid #1B3142;
    border-radius: 13px 0;
}

.g-recaptcha{
    margin-top: 1em;
}

#mobile-submit{
    display: none;
}

.footer{
    width: 100%;
    height: 5em;
}

.error-msg{
    color: #FC3A43;
    font-size: 14px;
}

@media only screen and (max-width: 750px) {
.right-page{
    display: none;
}

.form{
    width: 40vw;
}

#mobile-submit{
    width: 60%;
    margin-top: 1em;
    margin-bottom: 5em;
    display:initial;

    align-self: center;

    color: #F2F2F0;
    background: #F29F05 0 0 no-repeat padding-box;
    border-radius: 10px 0;
    border: 0;
    
    font-family: 'Gentium Book Basic';
    font-size: 120%;
}

#logo-fr{
    width: 22vh;
}

.footer{
    display: none;
}

.g-recaptcha{
    align-self: center;
}

}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F29F05;
    border-radius: 10px;
}