main {
    width: calc(100vw - 320px);
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-container{
    width: 65%;
    height: 75%;
    background-color: #1A3041;
    border-radius: 20px 0;

    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 40px rgb(26 48 65 / 0.7);
}

.photo-settings{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-data-settings{
    width: 50%;
}

.photo-settings img{
    width: 70%;
    margin-bottom: 1em;
    border-radius: 100%;
    border: 5px solid #F29F05;
}

.photo-settings input{
    background-color: #F29F05;
    color: #F2F2F0;
    font-family: 'Gentium Book Basic';
    font-size: 120%;
    border: 0;
    border-radius: 13px 0;
}

.photo-settings input:hover{
    background-color: #F2B43F;
    cursor: pointer;
}

.user-data-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-settings form{
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
}

.user-data-settings h7{
    font-size: 110%;
    color: #F2F2F0;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.user-data-settings form input{
    width: 100%;
    margin-bottom: 0.5em;
    height: 2em;
    margin-top: 0.2em;
    padding-left: 10px;
    background: #F2F2F0 0 0 no-repeat padding-box;
    box-shadow: inset 0 3px 2px #1B314280;
    border: 1px solid #1B3142;
    border-radius: 13px 0;
    text-align: left;
}
.user-data-settings form select {
    margin-right: auto;
    height: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    padding-left: 10px;

    background: #F2F2F0 0 0 no-repeat padding-box;
    box-shadow: inset 0 3px 2px #1B314280;
    border: 1px solid #1B3142;
    border-radius: 13px 0;
}

.photo-settings button{
    width: 75%;
}

.photo-settings input{
    width: 75%;
}

.profile-container button{
    margin-top: 1em;
    background-color: #F29F05;
    color: #F2F2F0;
    font-family: 'Gentium Book Basic';
    font-size: 120%;
    border: 0;
    border-radius: 13px 0;
}

.profile-container button:hover{
    background-color: #F2B43F;
    cursor: pointer;
}

.error-msg{
    color: #FC3A43;
    font-size: 14px;
}

.user-data-settings .logout{
    display: none;
}

@media only screen and (max-width: 750px) {
    main{
        width: 100%;
        height: 50em;
    }

    .profile-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .photo-settings{
        margin-bottom: 2em;
    }

    .photo-settings input{
        width: 100%;
    }

    .photo-settings button{
        width: 100%;
    }

    .user-data-settings .logout{
        display: block;

    }

}
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F29F05;
    border-radius: 10px;
}