body{
    background-color: #f2f2f2;
    margin: 0;
}

.main-container{
    display: flex;
    flex-direction: row;
}

.menu{
    width: 320px;
    height: 100vh;

    background-image: url("../../images/mainPage/menu-bar.svg");
    background-position-y: -1em;
    background-position-x: -0.5em;
    background-size: 100%;
    background-repeat:repeat-y;

    display: flex;
    flex-direction: column;
}

.user-data{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 1em;
}

#avatar-upload{
    width: 24%;
    margin-left: 1em;
}

.user-data img{
    width: 100%;

    border-radius: 100%;
    border: 2px solid #F29F05;
}

.user-data img:hover{
    filter: brightness(50%);
}

.user-data-info{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-top: -0.5em;

    color: #f2f2f2;
}

.user-data-info p{
    margin: 0;
    font-size: 120%;
    width: 8vw;
}

.user-data-info h4{
    margin-top: 1em;
    margin-bottom: 0;
}

.tabs{
    margin-top: 1em;
    color: #f2f2f2;
}

.tabs ul{
    list-style-type: none;
    margin-left: -3em;
}

.tabs li{
    width: 12em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;

    height: 2em;
    font-size: 140%;
}

.tabs a{
    text-decoration: none;
}

.tabs i{
    margin-left: 2em;
    margin-right: 0.5em;
    text-decoration: none;
    color: white;
}

.tabs h7{
    color: white;
}

.tabs li:hover{
    background-color: #F29F05;
    border-radius: 0 0 10px 0;
}

.logout{
    margin-top: auto;
    height: 10%;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logout button{
    background-color: transparent;
    color: #F2F2F0;
    border: 3px solid #F2F2F0;
    border-radius: 13px 0px;
    width: 10em;
    font-family: 'Gentium Book Basic';
    font-size: 120%;
}

.logout button:hover{
    background-color: #F29F05;
    border-color: #F29F05;
}

@media only screen and (max-width: 750px) {
    .main-container{
        flex-direction: column;
    }

    .menu{
        background-color: #1A3041;
        height: 70px;
        width: 100%;
        flex-direction: row;
    }

    .user-data{
        margin-top: 0;
        height: 70px;
        width: 70px;
        order: 7;
    }

    .user-data img{
        margin: auto;
        width: 300%;
        margin-left: -1em;
        height: auto;
    }

    .user-data-info p{
        display: none;
    }

    .user-data-info h4{
        display: none;
    }

    .tabs{
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 0;
        width: calc(100% - 70px);
    }

    .tabs ul{
        display: flex;
        flex-direction: row;
        margin-top: -0.5em;
        justify-content: space-between;

    }

    .tabs li{
        width: 2em;
        height: 3em;
    }

    .tabs li i{
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    .tabs i{
        margin-left: 0;
    }

    .tabs h7{
        display: none;
    }

    .logout{
        display: none;
    }
}